.bank-details-page {
    background: linear-gradient(
            to bottom,
            #006659 0%,
            #006659 50%,
            #F1F9EA 50%,
            #F1F9EA 100%
    );
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img.background-graphic {
        position: absolute;
        top: 0;
        width: 75%;
        height: 50vh;

        @media (max-width: 500px) {
            visibility: hidden;
        }
    }

    @media (max-width: 500px) {
        align-items: start;
        padding-top: 5%;
    }

    .bank-details-page-content {
        background: white;
        padding: 2rem;
        border-radius: 2rem;
        width: 90%;
        max-width: 500px;
        height: fit-content;
        z-index: 1;

        h1 {
            font-size: 3rem;
            color: #2E5553;
        }

        p {
            color: #2E5553;
            font-size: 1rem;
        }
    }
}
