* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Afacad', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  --bg-color-4: #ffdd99;
  --text-color-4: #9d2200;
  --button-padding: 0.2em 0.4em;
  --link-bg-color-3: #048575;
  --bg-color-3: #d9f7ac;
}
